@import url('https://fonts.cdnfonts.com/css/gt-walsheim-trial');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-tertiary: 'Montserrat', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;
    --font-gt-walsheim: 'GT Walsheim Trial', sans-serif;
}

button {
    @apply cursor-pointer font-[500] transition shadow-xl duration-300 ease-in-out lg:px-4 lg:py-2 px-2 py-1 text-sm lg:text-lg active:shadow-xl;
}